.link{
    font-size: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

.name{
    font-size: 3rem;

}
.techUsed{
    font-size: 1rem;
    color: #a6a8ab;
    margin-top: -15px;
    padding-bottom : 10px;
}

.linkContainer{
    padding-bottom: 30px;
    display:flex;
    width: 100%;
    justify-content: center;
  
}
.videoContainer{
    padding-bottom: 30px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.descriptionContainer{
    font-size: 1rem;
    
}

.video{
    width: 80%;
    // height: 61%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


   .videoContainer {
       padding-bottom: 30px;
       height: 400px;
       width: 100%;
       display: flex;
       justify-content: center;
   }

   .video {
       width: 100%;
       height: 90%;
   }


}

// <iframe width="560"height="315"src=""frameborder="0"allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe>

