.container{
    display: flex;
    // border: 1px solid black;
    justify-content: space-between;
    min-height: 70vh;
    flex-wrap: wrap;
}
.about{
    display: flex;
    //  border: 1px solid red;
     width: 600px;
     flex-direction: column

}
.sideBar{
//  border: 1px solid black;
 display: flex;
 flex-direction: column;
 width: 260px;
}

.subContent{
    padding-top: 30px;
}

.content p{
    font-size: 1rem;
    text-align: justify;
}
.subContent p{
    font-size: 0.8rem;
    color:#666666;
}
.uniName{
    color: orange;
}