
.posts{
    list-style-type: none;
    margin: 0;
}

.post{
    margin: 1rem 0;
    
    a{
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
        border-radius: 20px;
    }
    a:hover{
        background:#f6f8fa;

    }
   
}

.header{
    font-size: 4rem;
    color:#161718;
    font-family: "Open Sans" !important
}

.postName{
    font-size: 1.2rem;
    color: #4183C4;
    font-weight: bold;
}
.postDate{
    font-size: 0.8rem;
    font-style: italic;
    color:#a6a8ab;
    margin-top: -15px;
}

