.container{
    padding: 15px;
    background: #f9f9f9
}

.horizontalContainer{
    padding: 8px
}

.skillsHeading{
    margin: 0 auto;
    font-size: 20px;
    color: black;
}

.intro{
    margin-top: -10px;
    margin-bottom: 60px;
    color: #798188;
    font-size: 0.9rem; 
}

.hi{
    font-size: 1.75rem;
    color: #161718
}