.description1{
    font-size: 13px;
    text-align: justify
}

.img{
    height:200px;
    width: 100%;

}

.title2{
    font-size: 25px;
    margin-bottom: 10px;
}


.techUsed1 {
font-size: 13px;
   margin-bottom: 30px;
   color: #64ffda;
   font-weight: bold;
}
.itemsContainer{
    
    width: 100%;
    display: flex;
    // align-items: space-around;
    border-radius: 50px;
    padding: 50px;
    // justify-content: center;
}

.projectHeader{
    font-size: 4rem;
    color: #161718;
}

.intro{
    margin-top: -10px;
    margin-bottom: 30px;
    color: #798188;
    font-size: 1.3rem;
    width: 80%;
}

.cont{
    border-radius: 30px;
    display: flex;
    margin-bottom: 100px;
    padding-bottom: 20px;

    
}


.subIntro {
    color: #798188;
    font-size: 1.1rem;
    width: 80%;
}

.name{
    font-size: 2rem !important;
    padding-bottom: 20px;
}
.techUsed{
    font-size: 1rem !important;
    padding-bottom: 20px;
    color: #64ffda;
    font-weight: bold;
    font-style: italic;
}

.desc{
    font-size: 0.9rem !important;
      text-align: justify;
      padding-bottom: 30px;

}
.videoContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.video{
    border-radius: 20px;
    height: 500px;
    width: 500px;


}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .videoContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .video {
        border-radius: 20px;
        height: 400px;
        width: 300px;
        position: relative;
        left: -5px;


    }

    .itemsContainer {
        position: relative;
        left: -22px;
    }

}