.description1{
    font-size: 13px;
    text-align: justify
}

.img{
    height:200px;
    width: 100%;

}

.title2{
    font-size: 25px;
    margin-bottom: 10px;
}


.techUsed1 {
font-size: 13px;
   margin-bottom: 30px;
   color: #6886c5;
   font-weight: bold;
}
.itemsContainer{
    padding-bottom: 60px;
}
.projectHeader{
    padding-bottom:30px;
}